:root {
    --Background: linear-gradient(90deg, rgba(244,159,213,1) 0%, rgba(255,96,96,1) 40%, rgba(255,189,96,1) 75%);
}

@font-face {
    font-family: DancingScript;
    src: url(DancingScript-VariableFont_wght.ttf);
}

.sansita-regular-italic {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.taviraj-extralight-italic {
    font-family: "Taviraj", serif;
    font-weight: 400;
    font-style: italic;
}

.cardo-regular {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
}
  
.cardo-bold {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
}
  
.cardo-regular-italic {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: italic;
}

.alex-brush-regular {
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247,193,193);
    color: white;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 600px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}


.image-container {
    justify-content: center;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(75%);

}

.header-text {
    border-radius: 20px;
    letter-spacing: 0.1rem;
    text-align: center;
    width: 450px;
    height: 100;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
    margin-top: 300px;
    background-color: rgba(0,0,0,0.2);
    color: rgb(254, 238, 241);
}

.header-text:hover {
    background-color: rgba(254, 238, 241, 0.448);
    color: rgb(255, 255, 255);
}

.header-text h1 {
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin-bottom: 0.75rem;
}

.header-text h2 {
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    padding: 0;
}

.header-anchors {
    margin-top: 10px;
    text-align: center;
}

.header-anchors ul li {
    margin: 0 10px;
    list-style-type: none;
    text-align: center;
    display: inline;
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
}

.header-anchors li a{
    color: rgb(249, 212, 218);
    text-decoration: none;
}

.header-anchors ul li a:hover {
    color: rgb(16, 44, 87);
    background-color: rgb(254, 238, 241);
    font-size: 25px;   
    padding: 3px;
}

.aboutme-section {
    background-color: rgb(247,193,193);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 900px;
    margin-top: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.slideshow-container {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.slideshowimages {
    width: 100%;
    height: 100%;
    position: relative;
}

.slideshow-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.aboutme {
    width: 50%;
    padding: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 25px;
    background-color: rgba(248, 42, 117, 0.14);
    box-shadow: 0 0 20px;
    color: rgb(16, 44, 87);
}

.aboutme-header h1 {
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 30px;
}

.aboutme-header p {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
}
