@font-face {
    font-family: Callite;
    src: url(fonts/Callite.otf);
}
@font-face {
    font-family: Anatasha;
    src: url(fonts/Anatasha\ Trial.otf);
}

/* Headers*/
.alex-brush-regular { 
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Links */
.cardo-bold {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
}
  
/* Paragraphs */
.cardo-regular-italic {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: italic;
}

/* Paraghraphs */
.cardo-normal {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(16, 44, 87);
}

.header, .image-container {
    display: none;
}

.aboutme-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8C9C9;
    width: 100%;
    height: 100%;
}

.slideshow-container {
    width: 100%;
    height: 500px; 
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshowimages {
    width: 100%;
    height: 100%;
    position: relative; 
}


.slideshow-img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
}

.slideshow-img:first-child {
    opacity: 1; 
}

.slideshow-text {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: rgb(255, 255, 255); 
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.2);  
    border-radius: 10px;
}

.slideshow-text h2 {
    margin: 0; 
    color: rgb(254, 238, 241);
    font-family: "Callite";
    font-size: 40px;
}

.aboutme {
    display: flex;
    align-items: flex-end;
    background-color: #F8B3BE;
    width: 80%;
    border-radius: 20px;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    letter-spacing: 2.5px;
    line-height: 25px;
    margin: 20px 0 20px 0;
}

.aboutme-header h1 {
    margin-top: 50px;
    font-family: "Callite";
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.aboutme-text {
    color: rgb(16, 44, 87);
    padding-left: 20px;
    padding-right: 20px;
}


.aboutme-header p {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: italic;
}

.services-section {
    text-align: center;
    padding: 25px 0 75px 0;
    width: 100%;
    margin: auto;
    background-color: #F6B7B7;
}

.services-section h1 {
    font-family: "Callite";
    font-size: 45px;
}

.services-section h3 {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}

.rate-container {
    padding: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.hourly-rate {
    display: flex;
}

.hourly-price {
    padding-left: 50px;
}

.distance {
    display: flex;
}

.distance-price {
    padding-left: 20px;
}

.security {
    display: flex;
}

.security-price {
    padding-left: 40px;
}

#container {
    padding: 10px 10px 10px 10px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    height: 150px;
    align-items: center;
    background-color: rgba(249, 236, 236, 0.923);
    border-radius: 1rem;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.8);
    color: rgb(16, 44, 87);
}

#container h1 {
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

#container p {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}


.provide-container {
    width: 100%;
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.provide-list {
    padding: 10px 10px 10px 10px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    align-items: center;
    background-color: rgba(249, 236, 236, 0.923);
    border-radius: 1rem;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.8);
    color: rgb(16, 44, 87);
    line-height: 30px;
    list-style: none;
}

.provide-list ul {
    list-style: none;
    padding: 10px;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

.provide-list li {
    position: relative; 
    margin-bottom: 10px; 
    font-size: 1em;
    padding-left: 70px; 
}

.provide-list li::before {
    content: "\2714";
    color: rgb(234, 170, 245);
    position: absolute;
    left: 0; /* Position the checkmark to the left */
    top: 0;
    margin-left: 10%;
}


.review-section {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #F4A4A4;
    text-align: center;
    display: flex;
}

.review-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    margin-bottom: 50px;
}

.container-left {
    width: 100%;
    color: rgb(16, 44, 87);
    letter-spacing: 2.5px;
}

.container-left img{
    max-width: 100%;
    max-height: 100%;
}

.review-text h1 {
    padding-top: 10px;
    font-size: 70px;
    font-family: "Callite";
    text-decoration: wavy underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    line-height: 90px;
    border-bottom: 10px;
}

.container-right {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.feedback {
    width: 80%;
    margin: auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(249, 236, 236, 0.923);
    gap: 2rem;
    border-radius: 1rem;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    margin-top: 10px;
}

.fb-content {
    display: flex;
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    gap: 1rem;
    letter-spacing: 2.5px;
}

.feedback img {
    max-width: 50px;
    border-radius: 100%;
}

.fb-content span i {
    font-size: 25px;
    color: #ff226f;
}
  
.fb-details p {
    margin-right: 25px;
    font-style: italic;
    margin-bottom: 1rem;
    color: rgb(16, 44, 87);
}
  
.fb-details h4 {
    text-align: right;
    color: #ff226f;
    font-size: 1rem;
    font-weight: 500;
}

.contact-section {
    background-color: #F09393;
    text-align: center;
    padding: 30px;
    display: flex;
    align-items: start;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin: auto;
}

.contact-left h2 {
    font-weight: 600;
    color: rgb(16, 44, 87);
    font-size: 30px;
    margin-bottom: 5px;
}

.contact-left hr {
    border: none;
    width: 54px;
    height: 3px;
    background-color: rgb(16, 44, 87);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 100px
}

.contact-input {
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: rgb((16, 44, 87));
    border-radius: 50px;
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 0 8px;
    font-size: 15px;
}

.contact-left textarea {
    height: 150px;
    padding-top: 15px;
    border-radius: 30px;
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.contact-input:focus {
    border: 2px solid rgb(16, 44, 87);
    box-shadow: 0 0 10px;
}

.contact-input::placeholder {
    color: rgb(16, 44, 87);
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 7px 15px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, rgb(16, 44, 87), rgba(24, 67, 131, 0.718));
    cursor: pointer;
}

.ri-arrow-right-line {
    color: white;
}

.contact-left button:hover {
    font-size: 18px;
}

footer {
    border-top: none;
    display: flex;
    background-color: #F09393;
    text-align: center;
    color: rgb(16, 44, 87);
}

.footer-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    line-height: 12px;
    padding-bottom: 20px;
}

footer h1 {
    font-size: 40px;
    margin-bottom: 50px;
    font-family: "Callite";
    letter-spacing: 4px;
}

footer i {
    font-size: 45px;
    margin: 15px;
}

footer a {
    color: rgb(16, 44, 87);
}

footer a:link {
    text-decoration: none;
    color: rgb(16, 44, 87);
}

footer a:visited {
    text-decoration: none;
    color: rgb(16, 44, 87);
}
footer a:hover {
    text-decoration: none;
    color: rgb(24, 70, 139);
}
footer a:active {
    text-decoration: none;
    color: rgb(16, 44, 87);
}

@media screen and (min-width: 768px)  {
    
    body {
        background-color: #F8C9C9;
        margin: 0;
        padding: 0;
    }
    
    /* Header Nav Picture */
    .header {
        display: block;
        width: 100%;
        height: 100vh;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin: none;
    }
    
    
    .image-container {
        display: block;
        justify-content: center;
        margin: none;
    }
    
    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(75%);
    
    }
    
    .header-text {
        border-radius: 20px;
        letter-spacing: 0.1rem;
        text-align: center;
        width: 450px;
        padding: .5px 2px .5px 2px;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin: auto;
        margin-top: 250px;
        background-color: rgba(0,0,0,0.2);
        color: rgb(254, 238, 241);
    }
    
    .header-text:hover {
        background-color: rgba(254, 238, 241, 0.448);
        color: rgb(255, 255, 255);
    }
    
    .header-text h1 {
        font-family: "Alex Brush", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 60px;
        margin: none;
        line-height: 75px;
        letter-spacing: 3px;
    }
    
    .header-text h2 {
        font-family: "Alex Brush", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 1.75rem;
        padding: 0;
    }
    
    .header-anchors {
        margin-top: 20px;
        text-align: center;
        font-size: 23px;
    }
    
    .header-anchors ul li {
        margin: 0 10px;
        list-style-type: none;
        text-align: center;
        display: inline;
        font-family: "Cardo", serif;
        font-weight: 700;
        font-style: normal;
    }
    
    .header-anchors li a{
        color: rgb(249, 212, 218);
        text-decoration: none;
    }
    
    .header-anchors ul li a:hover {
        color: rgb(16, 44, 87);
        background-color: rgb(254, 238, 241);
        font-size: 30px;
    }

    /* AboutMe Section */
    .aboutme-section {
        flex-direction: row;
        width: 100%;
        height: 100vh;
        margin: none;
    }
    
    .slideshow-container {
        width: 50%;
        height: 100vh;
        position: relative;
        display: flex;
        margin-left: 15px;
    }

    .slideshow-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
    
    .slideshow-text {
        display: none;
    }

    .aboutme {
        width: 50%;
        padding: 20px 5px 20px 5px;
        margin: 0 10px 0 10px;
        text-align: center;
        font-size: 15px;
        box-shadow: 0 0 20px;
        border-radius: 40px;
    }
    
    .aboutme-header h1 {
        font-family: "Alex Brush", cursive;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 30px;
        font-size: 50px;
        margin: 20px;
    }
    
    .aboutme-header p {
        font-family: "Cardo", serif;
        font-weight: 400;
        font-style: italic;
        letter-spacing: 2px;
        color: rgb(16, 44, 87);
    }

    #container {
        width: 50%;
    }
    
    /* Review Section */
    
    .review-container {
        margin: auto;
        padding: 1rem;
        display: flex;
    }
    
    .container-left {
        width: 50%;
        color: rgb(16, 44, 87);
        letter-spacing: 2px;
    }

    #talkbubble {
        margin: 40px;
        width: 100%;
        height: 100%;
        position: relative;
        align-self: center;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 30px;
        line-height: 38px;
    }

    #talkbubble::before {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .aboutme {
        padding: 80px 5px 20px 5px;
        font-size: 18px;
    }

    #container {
        width: 50%;
    }

    .container-left img{
        display: none;
    }
}
