:root {
    --Background: linear-gradient(90deg, rgba(244,159,213,1) 0%, rgba(255,96,96,1) 40%, rgba(255,189,96,1) 75%);
}

@font-face {
    font-family: DancingScript;
    src: url(DancingScript-VariableFont_wght.ttf);
}

.sansita-regular-italic {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.taviraj-extralight-italic {
    font-family: "Taviraj", serif;
    font-weight: 400;
    font-style: italic;
}
